# Node (dependencies)
node_modules/

# typescript
*.tsbuildinfo

# Expo (expo intern cache)
.expo/  
.expo-shared/
expo-env.d.ts
frontend/expo-env.d.ts
frontend/.gitignore

# Builds (generated builds)
dist/
web-build/

# Environment variables (sensible data)
.env
.env.*
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# generated native folders (only used when native built)
/ios
/android

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
